@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
h1,
h2, h3 {
  font-family: "Space Mono", "monospace";
  color: #a1ce3f;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
  }
}

/* number before each section title */
p {
  font-family: "Space Mono", "monospace";
  color: #cbe58e;
  font-size: 1.4rem;
  line-height: 1.4;
}

p a {
  color: #013026;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

.page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
}

.sidebar {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  grid-row: 4;
}

.intro {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  grid-row: 3;
}

.preamble {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  grid-row: 2;
}

body {
  background-color: #03031A;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=");
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #1c2541;
}

.milkyWay {
  position: relative;
}

.sun {
  position: relative;
  width: 546px;
  height: 546px;
  border-radius: 50%;
  background-color: #ffd100;
  z-index: -1;
}

.sun:before,
.sun:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 209, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
}

.sun:before {
  width: 616px;
  height: 616px;
  top: -10px;
  left: -10px;
}

.sun:after {
  width: 636px;
  height: 636px;
  top: -20px;
  left: -20px;
}

.mercury {
  top: 20px;
  left: 2px;
  overflow-x: hidden;
  z-index: -1;
  -webkit-animation: spin 88s linear infinite;
  animation: spin 88s linear infinite;
}

.venus {
  position: absolute;
  top: 90px;
  left: -8px;
  overflow-x: hidden;
  z-index: -1;
  -webkit-animation: spin 225s linear infinite;
  animation: spin 225s linear infinite;
}

.earth {
  left: 100px;
  top: -10px;
  overflow-x: hidden;
  z-index: -1;
  -webkit-animation: spin 365s linear infinite;
  animation: spin 365s linear infinite;
}

.mars {
  position: absolute;
  top: 200px;
  left: 12px;
  overflow-x: hidden;
  z-index: -1;
  -webkit-animation: spin 687s linear infinite;
  animation: spin 687s linear infinite;
}

.jupiter {
  position: absolute;
  top: -140px;
  left: -140px;
  overflow-x: hidden;
  z-index: -1;
  -webkit-animation: spin 4333s linear infinite;
  animation: spin 4333s linear infinite;
}

.saturn {
  position: absolute;
  top: -170px;
  left: -170px;
  overflow-x: hidden;
  z-index: -1;
  -webkit-animation: spin 10755s linear infinite;
  animation: spin 10755s linear infinite;
}

.uranus {
  top: -200px;
  left: -200px;
  overflow-x: hidden;
  position: absolute;
  z-index: -1;
  -webkit-animation: spin 30687s linear infinite;
  animation: spin 30687s linear infinite;
}

.neptune {
  top: -230px;
  left: -230px;
  overflow-x: hidden;
  position: absolute;
  z-index: -1;
  -webkit-animation: spin 60190s linear infinite;
  animation: spin 60190s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
  from {
    -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  from {
    -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}

@media screen and (min-width: 600px) {
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 7fr;
        grid-template-columns: 3fr 7fr;
    grid-column-gap: 2em;
  }
  .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/ span 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 7fr;
        grid-template-columns: 3fr 7fr;
    grid-column-gap: 2em;
  }
  .summary {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    margin-left: 25px;
  }
  .preamble {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    margin-right: 25px;
  }
  .main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-right: 25px;
  }
  .sidebar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-left: 25px;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

.design-selection {
  -webkit-animation: rotation 6s infinite linear;
          animation: rotation 6s infinite linear;
}

.design-selection:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.design-archives {
  -webkit-animation: rotation 7s infinite linear;
          animation: rotation 7s infinite linear;
}

.design-archives:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.zen-resources {
  -webkit-animation: rotation 5s infinite linear;
          animation: rotation 5s infinite linear;
}

.zen-resources:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.wrapper > div {
  padding: .3em;
}
/*# sourceMappingURL=main.css.map */