$color-1: #013026; //Very dark violet
$color-2: #014760; // Very dark magenta
$color-3: #107e57; // Dark moderate magenta
$color-4: #a1ce3f; //Slightly desaturated pink
$color-5: #cbe58e; // Light grayish pink

// additional colors
$add-color-1:#014760;

$success: #6fce72; // Very dark blue
$alert: red; // red
