@media screen and (min-width: 600px){
    .page-wrapper{
        background-color: red;
        display: grid;
        grid-template-columns: 3fr 7fr;
    }
    .sidebar{
        grid-column: 1/2;
        grid-row: 2;
    }
    .intro{
        grid-column: span 2;
 
    }
    .b{
        grid-column: 2/3;
    }
    .preamble{
        grid-column: 2/3;
    }
}