@media screen and (min-width: 600px){
    .page-wrapper{
        background-color: red;
        display: grid;
        grid-template-columns: 3fr 7fr;
    }
    .intro{
        grid-column: 1/ span 2;  
    }
    .main{
        grid-column: 2/3;
        grid-row: 2;
    }
    .sidebar{
        grid-column: 1/2; 
        grid-row: 2;

    }

}