
    .page-wrapper{
        background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
    }
    .sidebar{
        grid-column: 2/3;
        grid-row: 4;
    }
    .intro{
        grid-column: 2/3;
        grid-row: 1;
    }
    .b{
        grid-column: 2/3;
        grid-row: 3;
    }
    .preamble{
        grid-column: 2/3;
        grid-row: 2;
    }
