$color-1: #210535; //Very dark violet
$color-2: #430D4B; // Very dark magenta
$color-3: #7B337D; // Dark moderate magenta
$color-4: #C874B2; //Slightly desaturated pink
$color-5: #F5D5E0; // Light grayish pink

// additional colors
$add-color-1:#014760;

$success: #6fce72; // Very dark blue
$alert: red; // red
