
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c2541;
}

.milkyWay {
    position: relative;
}
.testone:after {
    content: url(./images/satellite.png);
    overflow: hidden;
    -webkit-animation: spin 88s linear infinite;
    -moz-animation: spin 88s linear infinite;
    animation: spin 88s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }

    from {
        -moz-transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }

    from {
        -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    from {
        -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}