body {
    position: fixed;
    left: 0;
    height: 100vh;
    background-color: #1c2541;
    width: 100vw;
    overflow-x: hidden;
}

.milkyWay {
    position: relative;
}

.sun {
    position: relative;
    width:50px;
    height: 50px;
    border-radius:50%;
    background-color: #ffd100;
  }
  
  .sun:before, .sun:after {
    content:"";
    position: absolute;
    background-color: rgba(255,209,0,0.1);
    border-radius:50%;
  }
  
  .sun:before {
    width:70px;
    height: 70px;
    top:-10px;
    left:-10px;
  }
  
  .sun:after {
    width: 90px;
    height: 90px;
    top:-20px;
    left:-20px;
  }
  .mercury {
      content: url(./images/MERCURIO_ANGEL.png);
      width: 50%;
      height: auto;
    top:20px;
    left:2px;
    -webkit-animation: spin 88s linear infinite;
    -moz-animation: spin 88s linear infinite;
    animation: spin 88s linear infinite;
  }
  .planetTwo:nth-child(1) div:after{
    content: url(./images/Venus-SAVE.png);
    position: absolute;
    top:90px;
    left:-8px;
    width: 50%;
      height: auto;
    -webkit-animation: spin 225s linear infinite;
    -moz-animation: spin 225s linear infinite;
    animation: spin 225s linear infinite;
  }
  
  .planetTwo:nth-child(2) div:after{
    content: url(./images/1538274962.png);
    left:100px;
    top:-10px;
    width: 50%;
      height: auto;
    -webkit-animation: spin 365s linear infinite;
    -moz-animation: spin 365s linear infinite;
    animation: spin 365s linear infinite;
  }

  /*
  .mars {
    position: absolute;
    width: 16px;
    height:16px;
    border-radius:50%;
    background-color: #db3a34;
    top:200px;
    left:12px;
    -webkit-animation: spin 687s linear infinite;
    -moz-animation: spin 687s linear infinite;
    animation: spin 687s linear infinite;
  }
 
  .jupiter {
    position: absolute;
    border-radius:50%;
    background-color: #ff9100;
    width:28px;
    height:28px;
    overflow: hidden;
    -webkit-animation: spin 4333s linear infinite;
    -moz-animation: spin 4333s linear infinite;
    animation: spin 4333s linear infinite;
  }
  
  .jupiter:before {
    content:"";
    position: absolute;
    border-radius:20px;
    width:12px;
    height:5px;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 15px 10px rgba(255,255,255,0.3), 5px 15px rgba(255,255,255,0.3),5px 25px rgba(255,255,255,0.3);
  }

  .saturn {
    position: absolute;
    width:25px;
    height: 25px;
    border-radius:50%;
    background-color: #4281a4;
    transform-style: preserve-3d;
    -webkit-animation: spin 10755s linear infinite;
    -moz-animation: spin 10755s linear infinite;
    animation: spin 10755s linear infinite;
  }
  
  .saturn:before {
    content:"";
    position: absolute;
    border: solid 7px #9cafb7;
    border-radius: 50%;
    width: 35px;
    height: 28px;
    transform: rotate3d(1, 0, 0, 75deg); 
    left:-12px;
    top:-8px;
  }
  .uranus {
    position: absolute; 
    width:22px;
    height: 22px;
    border-radius:50%;
    background-color: #004e89;
    overflow: hidden;
    -webkit-animation: spin  30687s linear infinite;
    -moz-animation: spin  30687s linear infinite;
    animation: spin  30687s linear infinite;
  }
  
  .uranus:before {
    content:"";
    position: absolute;
    background-color: #1a659e;
    width:15px;
    height:3px;
    border-radius:10px;
    box-shadow: 5px 5px #1a659e, -5px 15px #1a659e;
  }

  .neptune {
    position: absolute; 
    width:22px;
    height: 22px;
    border-radius:50%;
    background-color: #004e89;
    overflow: hidden;
    -webkit-animation: spin 60190s linear infinite;
    -moz-animation: spin 60190s linear infinite;
    animation: spin 60190s linear infinite;
  }
  
  .neptune:before {
    content:"";
    position: absolute;
    background-color: #1a659e;
    width:15px;
    height:3px;
    border-radius:10px;
    box-shadow: 5px 5px #1a659e, -5px 15px #1a659e;
  }
*/
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }

    from {
        -moz-transform: rotate(0deg) translateX(250px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }

    from {
        -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    from {
        -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }
}