body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c2541;
}

.milkyWay {
    position: relative;
}

.mercury {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c9a227;
    top: 20px;
    left: 2px;
    -webkit-animation: spin 88s linear infinite;
    -moz-animation: spin 88s linear infinite;
    animation: spin 88s linear infinite;
}

.venus {
    position: absolute;
    width: 18px;
    height:18px;
    border-radius:50%;
    background-color: #ff9b85;
    top:90px;
    left:-8px;
    -webkit-animation: spin 243s linear infinite;
    -moz-animation: spin 243s linear infinite;
    animation: spin 243s linear infinite;
  }

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }

    from {
        -moz-transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }

    from {
        -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    from {
        -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}