//variables to setup basic size and shape of the card and pips
@import 'partials/loops';
$card-width: 300px;
$card-height: $card-width*1.4;
$icon-size: $card-width / 4;

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.icon {
    width: $icon-size;
    height: $icon-size;
}
//styles to draw a basic outline of a card
.card {
    border: 1px solid grey;
    height: $card-height;
    width: $card-width;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 4px grey;
    background-color: #050A30;
}
.card-2{
    border: 1px solid grey;
    height: $card-height;
    width: $card-width;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 4px grey;
    background-color: #010101;
}
.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-between;
    height: 100%;
}

.cell {
    flex: 1;
    text-align: center;
}