.intersetbox {
    width: 75%;
    height: auto;
  }
  .img-responsive {
    width: 25%;
    height: auto;
  }
  #intersetbox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
  }
  .opening{
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-gap: 75px 5px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .opening > aside {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .aside{
    display: grid;
    grid-template-columns:2fr;
  }
  .img-responsive{
    display: inline-block;
}