a,
a:hover {
    color: #0076B6;
    text-decoration: none;
}

.highlights-link {
    background-color: #f8f9fa;
    border-bottom: 1px solid #B4B3B5;
    border-left: 1px solid #B4B3B5;
    border-right: 1px solid #B4B3B5;
    color: #0076B6;
    padding: 8px 20px
}

.highlights-link:hover,
.highlights-link:focus {
    background-color: #e2e6ea !important
}

.highlights-link :first-child {
    font-weight: 700
}

.bg-gray {
    background-color: #727272;
    border: 1px solid #727272;
}
.intersetbox {
    padding: 25px 0;
    border-top: 1px solid #B4B3B5;
  }