@media screen and (min-width: 600px) {

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .intersetbox {
        width: 75%;
        height: auto;
    }

    .img-responsive {
        width: 25%;
        height: auto;
    }

    #intersetbox {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr;
    }

    .opening {
        display: grid;
        grid-template-columns:1fr 1fr;
    }
    .audience-dropdown-item{
        width: 25%;
    }
}