@import 'scss/large';

.intersetbox {
  width: 75%;
  height: auto;
}

.img-responsive {
  width: 25%;
  height: auto;
  display: inline-block;
}

#intersetbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 2fr;
}

.opening {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 75px 5px;
  background-color: #2196F3;
  padding: 10px;
}

.opening>aside {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.aside {
  display: grid;
  grid-template-columns: 2fr;
}

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}